<div class="container">
  <div class="row mt-5" *ngIf="product">
    <div class="col-md-4 max-auto">
      <div class="card" style="width: 18rem">
        <div class="card-header text-center">Detalle</div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Id</b>{{ product.id }}</li>
          <li class="list-group-item"><b>Nombre</b>{{ product.name }}</li>
          <li class="list-group-item"><b>Precio</b>{{ product.price }}</li>
        </ul>
        <div class="card-footer">
          <button class="btn btn-outline-primary btn-block" (click)="goBack()">
            <fa-icon [icon]="faArrowCircleLeft"></fa-icon> Volver
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
