<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="name"
            required
            autocomplete="off"
          />
        </div>

        <div class="form-group">
          <label for="price">Precio</label>
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            [(ngModel)]="price"
            required
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <button
            class="btn btn-outline-success btn-block mt-2"
            [disabled]="!f.valid"
          >
            <fa-icon [icon]="faPlus"></fa-icon>
            Crear
          </button>
          <button
            class="btn btn-outline-primary btn-block mt-2"
            (click)="goBack()"
          >
            <fa-icon [icon]="faArrowCircleLeft"></fa-icon> Volver
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
