<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <a href="#" class="navbar-brand">Online Store</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"
          ><fa-icon [icon]="faList"></fa-icon> Lista</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="nuevo"
          ><fa-icon [icon]="faPlusCircle"></fa-icon> Nuevo producto</a
        >
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
