<table class="table table-dark text-center" *ngIf="!emptyList">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Ver</th>
      <th scope="col">Editar</th>
      <th scope="col">Borrar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }} €</td>
      <td>
        <button
          class="btn btn-outline-primary"
          routerLink="/detalle/{{ product.id }}"
        >
          <fa-icon [icon]="faEye"></fa-icon> Ver
        </button>
      </td>
      <td>
        <button
          class="btn btn-outline-warning"
          routerLink="/editar/{{ product.id }}"
        >
          <fa-icon [icon]="faEdit"></fa-icon> Editar
        </button>
      </td>
      <td>
        <button class="btn btn-outline-danger" (click)="delete(product.id)">
          <fa-icon [icon]="faTrash"></fa-icon> Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div container *ngIf="emptyList">
  <div class="p-3 mb-2 bg-dark text-white text-center">
    <h2>{{ emptyList }}</h2>
  </div>
</div>
