<div class="container" *ngIf="product">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <form (ngSubmit)="onUpdate()" novalidate #nf="ngForm">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="product.name"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group">
          <label for="price">Precio</label>
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            [(ngModel)]="product.price"
            autocomplete="off"
            required
          />
        </div>

        <button
          class="btn btn-outline-success btn-block"
          [disabled]="!nf.valid"
        >
          <fa-icon [icon]="faEdit"></fa-icon> Actualizar
        </button>
        <button class="btn btn-outline-primary btn-block" (click)="goBack()">
          <fa-icon [icon]="faArrowCircleLeft"></fa-icon> Volver
        </button>
      </form>
    </div>
  </div>
</div>
